* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}


.wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "hero"
    "header"
    "main"
    "three-pinks"
    "footer";
    grid-auto-rows: auto;
    margin: 0.5rem;
    padding: 1rem;
}

.hero {
    grid-area: hero;
    display: flex;
    justify-content: center;
}

.hero div {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: rebeccapurple;
    margin: 1rem;
}

.header {
    grid-area: header;
}


.header div {
    width: 100%;
    height: 4rem;
    border-radius: 50px;
    background-color: purple;
    margin-bottom: 1rem;
}

.main {
    grid-area: main;
}

.main div {
    height: 4rem;
    width: 100%;
    background-color: pink;
    margin-bottom: 1rem;
}

.three-pinks {
    grid-area: three-pinks;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.three-pinks div {
    width: 8rem;
    height: 4rem;
    background-color: rgb(255, 0, 195);
    display: flex;
}

.footer {
    background-color: #C1C99A;
    height: 5rem;
}

@media screen and (min-width:700px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: 
        "hero hero hero hero"
        "header header header header"
        "main main main main"
        "three-pinks three-pinks three-pinks three-pinks"
        "footer footer footer footer";
        grid-auto-rows: auto;
        margin: 0.5rem;
        
    }

    .hero {
        display: flex;
        justify-content: flex-start;
    }

    .header {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .header div {
        height: 6rem;
    }

    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        grid-column: 1 / span 2;
        margin-left: 15rem;
    }

    .main div {
        width: 40rem;
    }

    .three-pinks {
        grid-column: 3 / span 2;
        grid-row: 3;
        display: flex;
        flex-direction: column;
        margin: 1rem;
        
    }

    .three-pinks div {
        width: 20rem;
        height: 5rem;
    }

    .footer {
        display: grid;
        grid-column: 1 / span 4;
    }
}